.modal-container-success__wrapper {
  text-align: center;
}

.modal-container-success__notice-area {
  padding-top: 36px;
  padding-right: 39px;
  padding-left: 37px;
}

.modal-container-success__notice {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.modal-container-success__notice-explanation {
  margin: 0;
  margin-bottom: 28px;
  color: @black-basic;
}

.modal-container-success__close-button-area {
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

.modal-container-success__close-button {
  padding: 18px 62px 14px 60px;
  box-sizing: border-box;
  font-size: 18px;
}
