.modal-container-failure__wrapper {
  padding: 45px 42px 35px 41px;
  text-align: center;
}

.modal-container-failure__notice {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.modal-container-failure__notice-explanation {
  margin: 0;
  margin-bottom: 28px;
  color: @black-basic;
}

.modal-container-failure__close-button {
  padding: 18px 64px 14px 63px;
  font-size: 18px;
}
