.reviews-form__header {
  padding: 36px 20px 28px 20px;
  text-align: center;
}

.reviews-form__title {
  margin: 0;
  margin-bottom: 24px;
}

.reviews-form__intro {
  margin: 0;
  color: @black-basic;
}
